<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff2">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.ttf">
    <link rel="stylesheet" href="../fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="../css/navbar.css">
    <link href="../fonts/Roboto-Regular.ttf">
    <title>Products Elements</title>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="../img/icons/rooster.png" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <i class='bx bx-home-alt nav__logo-icon'></i>
                    <span class="nav__logo-name">APP GALLOS</span>
                </a>

                <div class="nav__list">
                    <a href="#" class="nav__link active">
                    <i class='bx bx-grid-alt nav__icon' ></i>
                        <span class="nav__name">Inicio</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Alta Persona</span>
                    </a>
                    
                    <a href="#" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon' ></i>
                        <span class="nav__name">Alta Gallos</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-bookmark nav__icon' ></i>
                        <span class="nav__name">Historial</span>
                    </a>
                </div>
            </div>
            <a href="#" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>
    <div class="contenedor">
        <main>
            <div class="titulos">
                <img src="../img/icons/create.png" alt="">
                <h4 class="">Generar Pelea Pactada</h4>
            </div>
            <div class="tabla1">
                <table class="table table-hover">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Column </th>
                        <th scope="col">Column </th>
                        <th scope="col">Column </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabla2">
                <table class="table table-hover">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column </th>
                        <th scope="col">Column </th>
                        <th scope="col">Column </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="img-tablas">
                <img src="../img/icons/swords.png" alt="">
            </div>
            <div class="subtitulo">
                <div class="subtitulo-1 w-50 ml-4">
                    <img src="../img/icons/shuffle.png" alt="">
                    <h4>Generar Pelea Random</h4>
                </div>
                <div class="subtitulo-2 w-25">  
                    <button type="button" class="btn btn-warning disabled ml-lg-5">Gallos sin emparejar</button>                    
                </div>      
            </div>
            <div class="condiciones" >
                <div class="condiciones-titulo">
                    <h5 class="font-weight-bold">Rango de Peso</h5>
                </div>
                <div class="d-flex condiciones-data">
                    <div class="form-group ml-2 pr-3">
                        <div class="custom-control custom-radio pt-4">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                        <label class="custom-control-label" for="customRadio1">Gramos</label>
                        </div>
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Onzas</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <h6 class="font-weight-bold">Cantidad</h5>
                        <input type="text" class="w-75 text-center">
                    </div>
                </div>
                <div class="condiciones-data-cantidad">
                    <div class="condiciones-titulo">
                        <h5 class="font-weight-bold">Cantidad a Cotejar</h5>
                    </div>
                    <div class="gallos-cantidad-texto">
                        <h6 class="font-weight-bold">Ingrese la cantidad</h6>
                    </div>
                    <div class="cantidad-gallos">
                        <input type="text" class="w-75">
                        <button type="button" class="btn btn-danger btn-lg">Danger</button>
                    </div>
                </div>
            </div>
            <div class="tabla-peleas">
                <table class="table">
                    <thead class="table-dark">
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </main>
    </div>
</div>
    
    <script src="../Js/indexhtm.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>