<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff2">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.ttf">
    <link rel="stylesheet" href="../fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="../css/navbar.css">
    <link href="../fonts/Roboto-Regular.ttf">
    <title>Products Elements</title>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="../img/icons/rooster.png" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <i class='bx bx-home-alt nav__logo-icon'></i>
                    <span class="nav__logo-name">APP GALLOS</span>
                </a>

                <div class="nav__list">
                    <a href="#" class="nav__link active">
                    <i class='bx bx-grid-alt nav__icon' ></i>
                        <span class="nav__name">Inicio</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Alta Persona</span>
                    </a>
                    
                    <a href="#" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon' ></i>
                        <span class="nav__name">Alta Gallos</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-bookmark nav__icon' ></i>
                        <span class="nav__name">Historial</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>
    <div class="container d-flex flex-wrap m-0 justify-content-start">
        <div class="container h-50">
            <div class="container d-inline-flex">
                <h1 class="align-content-center">Registro de Peleas</h1>
                <button class="btn btn-primary h-10 ml-5">Registrar</button>
            </div>
            <div class="container d-inline-flex fs-5">
                <table  class="table table-hover m-1">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Repesentante</th>
                        <th scope="col">Gallo</th>
                        <th scope="col">Lugar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                        <th scope="row">1</th>
                        <td>Noe Liceaga</td>
                        <td>Segundo</td>
                        <td>Culiacan</td>
                        </tr>
                </table>
                <img class="m-1 justify-content-center align-self-center" id="vs" src="../img/icons/vs.png" alt="">
                <table  class="table table-hover m-1">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Repesentante</th>
                        <th scope="col">Gallo</th>
                        <th scope="col">Lugar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="container h-25">
            <div class="d-inline-flex m-1">
                <img src="../img/icons/battle.png" alt="" id="img-sorteos">
                <h1 class="justify-content-center align-self-center">Sorteos</h1>
            </div>
            <div class="container">
                <div>
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="d-inline-flex justify-content-center align-items-center">
                            <div class="card-body">
                                <fieldset class="form-group">
                                  <legend>Tolerancia</legend>
                                  <div class="form-check">
                                      <div class="custom-control custom-radio">
                                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                                          <label class="custom-control-label" for="customRadio1">Gramos</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                          <label class="custom-control-label" for="customRadio2">Libras</label>
                                        </div>
                                </fieldset>
                             </div>
                            <div class="m-1">
                                <label class="col-form-label" for="inputDefault">Cantidad</label>
                                <input type="text" class="form-control" placeholder="Ingrese" id="inputDefault">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Js/indexhtm.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>