<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff2">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.ttf">
    <link rel="stylesheet" href="../fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="../css/person.css">
    <link href="../fonts/Roboto-Regular.ttf">
    <title>Add new product</title>
</head>
<body>
    <section class="contact-box">
        <div class="row no-gutters bg-dark">
            <div class="col-xl-5 col-lg-8 register-bg d-inline-flex">
                <div class="testiomonial p-4">
                    <h3 class="font-weight-bold text-light">Formulario de Registro de Personas</h3>
                    <p class="lead text-light">Ingrese los datos de la persona</p>
                </div>
                <div class="container container-img">
                    <img src="../img/icons/rooster.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-4">
                    <form>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Apellidos <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="font-weight-bold">Lugar de Procedencia<span class="text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Ingresa el lugar de procedencia">
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputState" class="form-label">Gallo</label>
                            <select id="inputState" class=" form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <button class="btn btn-primary width-100">Regístrate</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="../Js/new-product.js"></script>
</body>
</html>