<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootswatch/dist/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff2">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.woff">
    <link rel="stylesheet" href="../../node_modules/boxicons/fonts/boxicons.ttf">
    <link rel="stylesheet" href="../fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="../css/person.css">
    <link href="../fonts/Roboto-Regular.ttf">
    <title>Add new product</title>
</head>
<body>
    <div class="container">
        <div class="card border-success mb-3">
            <div class="card-header">Ingrese sus datos aqui</div>
            <div class="card-img container-img">
                <div class="img"><img src="../img/icons/rooster.png" alt=""></div>
            </div>
            <div class="card-body">
              <form action="" class="card-text">
                <div class="contenedor-alta">
                    <div class="form-group">
                        <label class="font-weight-bold" >Nombre <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-gr oup">
                        <label class="font-weight-bold">Apellidos <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Apellidos" required>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Lugar de Procedencia<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="Ingresa el lugar de procedencia" required>
                    </div>
                    <div class="form-group">
                        <label for="inputState" class="form-label font-weight-bold">Gallo</label>
                        <select id="inputState" class=" form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <button class="btn btn-danger form-group w-100  ">Registrar</button>
                </div>
            </form>
            </div>
          </div>
    </div>
    <script src="../Js/new-product.js"></script>
</body>
</html>