.container{
    width: 75%;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(43, 41, 41, 0.479);
    font-family: 'Raleway', sans-serif;
}
.container div{
    padding: 5px;
}
.img{
    margin: auto;
    justify-items: center;
    align-items: center;
    margin-left: 40%;
}
input:hover{
    border:  2px solid rgb(224, 6, 6);
}